@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #008040;
    border-bottom: 1px solid #dedcdc;
    padding: 20px 0;
}


.nhom1 {
    float: left;
    width: 60%;


}
.nhom1 ul{
    float: left;
}
.nhom1 ul li {
    float: left;
    list-style: none;
    margin-left: 25px;

}
.search{
    width: 350px;
    height: 25px;
    border-radius: 9px;
}

.toplink {
    float: right;
    width: 40%;


}
.toplink ul{
    float: right;
}
.toplink ul li{
    float: left;
    margin-right: 25px;
    list-style: none;
    font-size: 18px;

}
.toplink ul li a{
    color: #ffff;

}

body{
    background-color: #fafafa;
    font-size: 14px;
    font-family: "Times New Roman";
    font-weight: normal;
    text-align: left;
}
a{
    text-decoration: none;
    color: #333333;
}

img{
    max-width: 100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.section{
    float: left;
    width: 100%;

}

.nhom1 .lo-go-link{
    font-weight: 700;
    color: #ffff;
}
.nav{
    background-color: #c8e7c7;
    padding: 20px 0;

}
.menu div {
    float: left;
    width: calc(25% - 62px);
    margin: 10px;
    padding: 20px;
    border: 1px;


}
.op{
    font-weight: bold;
    font-size: 20px;
}
.myslides{
    float:left;
    border:1px;
    margin: 12px;

}
.content2{
    margin-top: 200px;
}
.content{
    float:left;
    border:1px;
    margin: 10px;
    padding: 20px;
}
.group-name{
    margin-top: 300px;
}
.group-name div{
    float: left;
    width: calc(33.33% - 62px);
    border:1px;
    margin: 10px;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;

}
.footer{
    margin-top:200px;
    background-color: #008040;
    border-bottom: 1px;
    padding: 20px 0;
    font-size: 20px;
}
.footer-trai{
    float: left;
    width: calc(50% - 62px);
    border:1px;
    margin: 10px;
    padding: 20px;


}
.footer-trai ul li{
    list-style: none;
}
.footer-phai{
    float: right;
    width: calc(50% - 62px);
    border:1px;
    margin: 10px;
    padding: 20px;
}

.footer-phai ul{
    float:right;
}
.footer-phai ul li{
    margin-right: 25px;
    font-size: 18px;

}
.footer i {
    color: #d02cd5;
}
